@model LambdaForums.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">
                Learn Learn Learn
            </div>
            <p class="frontPageSubHeading">Coding forum</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..." />
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestas">Latest as</h3>
        <table class="table table-hover" id="latestasTable">
            <tbody>
                @foreach (var post in Model.LatestPosts)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl); background-size=100%"></div>
                            <div class="aTitle">
                                <a asp-controller="a" asp-action="Index" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </div>
                            <div class="aSubTitle">
                                @if(post.RepliesCount == 1)
                                 {
                                    <span>@post.RepliesCount Reply</span>
                                 }
                                @if (post.RepliesCount == 0)

                                { 
                                    <span>No Replies</span>
                                }

                                else
                                {
                                    <span>@post.RepliesCount Replies</span>
                                }
                                <span class="postUser">
                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                    @post.AuthorName
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>